In [21]:
import pandas as pd 
import numpy as np

In [22]:
!pip install opendatasets -q

In [23]:
import opendatasets as od

In [24]:
df = od.download("https://www.kaggle.com/datasets/new-york-city/nyc-property-sales")

Skipping, found downloaded files in "./nyc-property-sales" (use force=True to force download)

In [25]:
df = pd.read_csv('nyc-property-sales/nyc-rolling-sales.csv')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [27]:
df.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

Deleted the rows Unnamed, EASE-MENT, SALE DATE, APPARTEMENT NUMBER because the rows unnamed and ease-ment doesnt give any valuable information for building a model and the rows sale date, address and appartment number is removed to create a more generalised data

In [28]:
del df['Unnamed: 0']
del df['EASE-MENT']
del df['SALE DATE']
del df['ADDRESS']
del df['APARTMENT NUMBER']

In [29]:
df['TAX CLASS AT TIME OF SALE'] = df['TAX CLASS AT TIME OF SALE'].astype('category')
df['TAX CLASS AT PRESENT'] = df['TAX CLASS AT PRESENT'].astype('category')
df['LAND SQUARE FEET'] = pd.to_numeric(df['LAND SQUARE FEET'], errors='coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors='coerce')
 #'coerce', then invalid parsing will be set as NaN
df['SALE PRICE'] = pd.to_numeric(df['SALE PRICE'], errors='coerce')
df['BOROUGH'] = df['BOROUGH'].astype('category')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         84548 non-null  category
 1   NEIGHBORHOOD                    84548 non-null  object
 2   BUILDING CLASS CATEGORY         84548 non-null  object
 3   TAX CLASS AT PRESENT            84548 non-null  category
 4   BLOCK                           84548 non-null  int64
 5   LOT                             84548 non-null  int64
 6   BUILDING CLASS AT PRESENT       84548 non-null  object
 7   ZIP CODE                        84548 non-null  int64
 8   RESIDENTIAL UNITS               84548 non-null  int64
 9   COMMERCIAL UNITS                84548 non-null  int64
 10  TOTAL UNITS                     84548 non-null  int64
 11  LAND SQUARE FEET                58296 non-null  float64
 12  GROSS SQUARE FEET               56936 non-null  float64
 13  YEAR BUILT                      84548 non-null  int64
 14  TAX CLASS AT TIME OF SALE       84548 non-null  category
 15  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 16  SALE PRICE                      69987 non-null  float64
dtypes: category(3), float64(3), int64(7), object(4)
memory usage: 9.3+ MB

In [31]:
df['LAND SQUARE FEET'].fillna(int(df['LAND SQUARE FEET'].mean()), inplace=True)
df['GROSS SQUARE FEET'].fillna(int(df['GROSS SQUARE FEET'].mean()), inplace=True)

In [32]:
df = df.dropna()

In [33]:
df.isnull().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
BUILDING CLASS AT PRESENT         0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
dtype: int64

In [34]:
df.drop_duplicates()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,10309,2,0,2,2400.0,2575.0,1998,1,B9,450000.0
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,10309,2,0,2,2498.0,2377.0,1998,1,B9,550000.0
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,10309,2,0,2,4000.0,1496.0,1925,1,B2,460000.0
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,10309,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,10309,0,1,1,10796.0,2400.0,2006,4,P9,69300.0

In [35]:
df = df.reset_index(drop=True)

In [36]:
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0
4,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69982,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,10309,2,0,2,2400.0,2575.0,1998,1,B9,450000.0
69983,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,10309,2,0,2,2498.0,2377.0,1998,1,B9,550000.0
69984,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,10309,2,0,2,4000.0,1496.0,1925,1,B2,460000.0
69985,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,10309,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0
69986,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,10309,0,1,1,10796.0,2400.0,2006,4,P9,69300.0

In [37]:
df['SALE PRICE'].describe()

count    6.998700e+04
mean     1.276456e+06
std      1.140526e+07
min      0.000000e+00
25%      2.250000e+05
50%      5.300000e+05
75%      9.500000e+05
max      2.210000e+09
Name: SALE PRICE, dtype: float64

In [38]:
df = df[df['SALE PRICE'] != 0]

In [39]:
df.reset_index(drop = True)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0
4,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59754,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,10309,2,0,2,2400.0,2575.0,1998,1,B9,450000.0
59755,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,10309,2,0,2,2498.0,2377.0,1998,1,B9,550000.0
59756,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,10309,2,0,2,4000.0,1496.0,1925,1,B2,460000.0
59757,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,10309,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0
59758,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,10309,0,1,1,10796.0,2400.0,2006,4,P9,69300.0

In [40]:
data =df.copy()

In [41]:
data['ZIP CODE'].unique()

array([10009,     0, 10002, 10011, 10001, 10014, 10010, 10013, 10038,
       10007, 10036, 10019, 10018, 10003, 10005, 10004, 10006, 10016,
       10012, 10030, 10031, 10027, 10037, 10035, 10026, 10039, 10032,
       10029, 10128, 10463, 10034, 10025, 10022, 10017, 10167, 10023,
       10105, 10044, 10280, 10282, 10065, 10021, 10075, 10028, 10024,
       10069, 10033, 10040, 10457, 10458, 10451, 10456, 10469, 10466,
       10475, 10468, 10467, 10460, 10473, 10472, 10464, 10462, 10803,
       10465, 10471, 10453, 10452, 10474, 10455, 10461, 10459, 10454,
       10470, 11228, 11214, 11220, 11209, 11219, 11221, 11233, 11213,
       11206, 11216, 11238, 11205, 11204, 11234, 11217, 11201, 11218,
       11232, 11230, 11235, 11212, 11237, 11207, 11236, 11239, 11231,
       11249, 11224, 11225, 11208, 11226, 11210, 11203, 11229, 11215,
       11223, 11222, 11211, 11370, 11691, 11692, 11106, 11103, 11377,
       11105, 11102, 11101, 11361, 11360, 11357, 11358, 11364, 11694,
       11426, 11428, 11004, 11001, 11435, 11693, 11411, 11356, 11354,
       11420, 11368, 11373, 11363, 11362, 11369, 11378, 11372, 11040,
       11375, 11355, 11365, 11367, 11366, 11374, 11385, 11005, 11421,
       11379, 11432, 11423, 11412, 11427, 11429, 11433, 11414, 11422,
       11418, 11415, 11413, 11109, 11104, 11416, 11417, 11419, 11436,
       11434, 10312, 10305, 10314, 10303, 10310, 10302, 10301, 10304,
       10306, 10308, 10309, 10307])

In [42]:
data = data[data['ZIP CODE'] != 0]
data.reset_index(drop = True)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0
4,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59098,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,10309,2,0,2,2400.0,2575.0,1998,1,B9,450000.0
59099,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,10309,2,0,2,2498.0,2377.0,1998,1,B9,550000.0
59100,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,10309,2,0,2,4000.0,1496.0,1925,1,B2,460000.0
59101,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,10309,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0
59102,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,10309,0,1,1,10796.0,2400.0,2006,4,P9,69300.0

In [43]:
!pip install wget -q

  Preparing metadata (setup.py) ... done
  Building wheel for wget (setup.py) ... done

In [44]:
import wget 
url = "http://download.geonames.org/export/zip/US.zip"
zipcode=wget.download(url)

In [45]:
from zipfile import ZipFile

with ZipFile('US.zip','r') as zip:

  zip.extract('US.txt')

In [46]:
location = pd.read_csv('US.txt', sep="	",header=None)

In [47]:
latitude = []
longitude = []

In [48]:
zip_unique = data['ZIP CODE'].unique()

In [49]:
for x in zip_unique:
  for index,rows in location.iterrows():
    if x == rows[1]:
      latitude.append(rows[9])
      longitude.append(rows[10])

In [50]:
zipData={"ZIP CODE":zip_unique,"latitude":latitude,"longitude":longitude}
zipDf=pd.DataFrame(zipData)

In [51]:
latitude=[]
longitude=[]

In [52]:
for x in data['ZIP CODE']:
  for index,rows in zipDf.iterrows():
    if x == rows['ZIP CODE']:
      latitude.append(rows['latitude'])
      longitude.append(rows['longitude'])

In [53]:
data['LATITUDE'] = latitude
data['LONGITUDE'] = longitude

In [54]:
data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,LATITUDE,LONGITUDE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,40.7262,-73.9796
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,40.7262,-73.9796
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,40.7262,-73.9796
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,40.7262,-73.9796
4,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0,40.7262,-73.9796

In [55]:
del data['ZIP CODE']

In [56]:
del data['NEIGHBORHOOD']

In [57]:
del data['BLOCK']
del data['LOT']

In [59]:
data.head()

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,LATITUDE,LONGITUDE
0,1,07 RENTALS - WALKUP APARTMENTS,2A,C2,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,40.7262,-73.9796
1,1,07 RENTALS - WALKUP APARTMENTS,2B,C4,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,40.7262,-73.9796
2,1,07 RENTALS - WALKUP APARTMENTS,2A,C2,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,40.7262,-73.9796
3,1,07 RENTALS - WALKUP APARTMENTS,2B,C4,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,40.7262,-73.9796
4,1,08 RENTALS - ELEVATOR APARTMENTS,2,D9,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0,40.7262,-73.9796

In [60]:
data.to_csv(r'dataCollected.csv', index=False)

In [ ]:
data.head()

In [ ]:
data['LAND SQUARE FEET'].describe()

In [ ]:
count = 0
for i in data['LAND SQUARE FEET']:
  if i == 0:
    count = count+1
count

In [ ]:
count = 0
for i in data['GROSS SQUARE FEET']:
  if i == 0:
    count = count+1
count

In [ ]:
data = data[data['LAND SQUARE FEET']!=0]

In [ ]:
data.shape

In [ ]:
data = data[data['GROSS SQUARE FEET']!=0]

In [ ]:
data.shape

In [ ]:
data.reset_index(drop=True)

In [ ]:
print(data['TAX CLASS AT PRESENT'].unique())

In [ ]:
df2 = data.copy()

In [ ]:
df2['TAX CLASS AT PRESENT'].replace('1A','1',inplace=True)
df2['TAX CLASS AT PRESENT'].replace('1B','1',inplace=True)
df2['TAX CLASS AT PRESENT'].replace('1C','1',inplace=True)
df2['TAX CLASS AT PRESENT'].replace('2A','2',inplace=True)
df2['TAX CLASS AT PRESENT'].replace('2B','2',inplace=True)
df2['TAX CLASS AT PRESENT'].replace('2C','2',inplace=True)

In [ ]:
df2['TAX CLASS AT PRESENT'].unique()

In [ ]:
count = 0
for index,rows in df2.iterrows():
  if rows['BUILDING CLASS AT PRESENT'] == rows['BUILDING CLASS AT TIME OF SALE']:
    count += 1
count

In [ ]:
df2.shape

In [ ]:
df3 = df2.groupby(['TAX CLASS AT PRESENT'])['SALE PRICE'].count()
df3

In [ ]:
df2['TAX CLASS AT TIME OF SALE'].unique()

In [ ]:
(50417+147)/50674

In [ ]:
del data['TAX CLASS AT PRESENT']

In [ ]:
data.head()

In [ ]:
df2 = data.groupby(['TAX CLASS AT TIME OF SALE'])['SALE PRICE'].count()
df2=df2.reset_index()

In [ ]:
df2

In [ ]:
import plotly.express as px
fig = px.bar(df2,x='TAX CLASS AT TIME OF SALE',y='SALE PRICE')
fig.show()

In [ ]:
df2 = data.groupby(['TAX CLASS AT TIME OF SALE'])['SALE PRICE'].mean()
import plotly.express as px 
fig = px.bar(df2,x=df2.index,y='SALE PRICE')
fig.show()

In [ ]:
df2 = data.groupby(['TAX CLASS AT TIME OF SALE'])['SALE PRICE'].sum()
import plotly.express as px 
fig = px.bar(df2,x=df2.index,y='SALE PRICE')
fig.show()

In [ ]:
df2 = data.groupby(['LATITUDE','LONGITUDE'])['SALE PRICE'].count()
df2=df2.reset_index()
df2.head()

In [ ]:
lat_lon_weight = []
for index,rows in df2.iterrows():
  row = []
  row = [rows['LATITUDE'],rows['LONGITUDE'],rows['SALE PRICE']]
  lat_lon_weight.append(row)


import folium

from folium.plugins import HeatMap


map_obj = folium.Map(location = [ 40.730610,-73.935242], zoom_start = 11)

HeatMap(lat_lon_weight).add_to(map_obj)

map_obj

In [ ]:
df2 = data.groupby(['LATITUDE','LONGITUDE'])['SALE PRICE'].mean()
df2=df2.reset_index()
df2.head()

In [ ]:
lat_lon_weight = []
for index,rows in df2.iterrows():
  row = []
  row = [rows['LATITUDE'],rows['LONGITUDE'],rows['SALE PRICE']]
  lat_lon_weight.append(row)


import folium

from folium.plugins import HeatMap


map_obj = folium.Map(location = [ 40.730610,-73.935242], zoom_start = 11)

HeatMap(lat_lon_weight).add_to(map_obj)

map_obj

In [ ]:
data['BUILDING CLASS CATEGORY'].unique()

In [ ]:
count = 0
for index,rows in data.iterrows():
  if rows['BUILDING CLASS AT PRESENT'] == rows['BUILDING CLASS AT TIME OF SALE']:
    count += 1
count

In [ ]:
data.shape

In [ ]:
50417/50674

In [ ]:
del data['BUILDING CLASS AT PRESENT']

In [ ]:
data.head()

In [ ]:
df2 = data.groupby(['BUILDING CLASS CATEGORY','BUILDING CLASS AT TIME OF SALE'])['SALE PRICE'].mean()

In [ ]:
df2 = df2.reset_index()
df2

In [ ]:
len(data['BUILDING CLASS AT TIME OF SALE'].unique())

In [ ]:
len(data['BUILDING CLASS CATEGORY'].unique())

In [ ]:
import plotly.subplots as sp
import plotly.graph_objs as go

# set the size and layout of the graphs
subplot_rows = 15 # set the number of rows in the grid
subplot_cols = 3 # set the number of columns in the grid
fig_width = 1400 # set the width of the graph
fig_height = 2000 # set the height of the graph
margin = dict(l=50, r=50, b=50, t=50, pad=4) # set the margins of the graph

# create a grid of subplots
fig = sp.make_subplots(
    rows=subplot_rows,
    cols=subplot_cols,
    shared_xaxes=False,
    shared_yaxes=False,
    subplot_titles=df2['BUILDING CLASS CATEGORY'].unique()
)

for i,index_value in enumerate(df2["BUILDING CLASS CATEGORY"].unique()):
    # filter the dataframe by the index value
    df_subset = df2[df2["BUILDING CLASS CATEGORY"]==index_value]

    # create the bar chart
    fig.add_trace(
        go.Bar(x=df_subset['BUILDING CLASS AT TIME OF SALE'], y=df_subset['SALE PRICE']),
        row=i//subplot_cols + 1,
        col=i%subplot_cols + 1
    )


# set the title of the chart to be the index value    
fig.update_layout(
    width=fig_width,
    height=fig_height,
    margin=margin,
    showlegend=False
)

    
# show the chart
fig.show()

In [ ]:
del data['BUILDING CLASS CATEGORY']

In [ ]:
data

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
df2 = data.groupby(['BOROUGH'])['SALE PRICE'].mean()
fig = px.bar(df2,x=df2.index,y='SALE PRICE')
fig.show()

In [ ]:
df2 = data.groupby(['LAND SQUARE FEET'])['SALE PRICE'].mean()
df2=df2.reset_index()
fig = px.scatter(df2,x='LAND SQUARE FEET',y='SALE PRICE')
fig.show()

In [ ]:
df2 = data.groupby(['GROSS SQUARE FEET'])['SALE PRICE'].mean()
df2=df2.reset_index()
fig = px.scatter(df2,x='GROSS SQUARE FEET',y='SALE PRICE')
fig.show()

In [ ]:
def boxplot(data,feature):
  fig = px.box(data, x=feature)
  return fig.show()

In [ ]:
data.head()

In [ ]:
data = data[data['GROSS SQUARE FEET']<7521]

In [ ]:
fig = px.box(data, x="GROSS SQUARE FEET")
fig.show()

In [ ]:
data.shape

In [ ]:
fig = px.box(data, x="LAND SQUARE FEET")
fig.show()

In [ ]:
data.columns

In [ ]:
data.to_csv(r'data.csv', index=False)